@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 248 250 252;
  --fg: 15 23 42;
}

.dark {
  --bg: 2 6 23;
  --fg: 226 232 240;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}
